services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yeu-pet-api
    environment:
      - PORT=${PORT}
    ports:
      - '${PORT}:${PORT}'
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./src:/app/src
    networks:
      - yeu-pet-net
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/api/v1']
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:alpine
    container_name: yeu-pet-redis
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
    restart: always
    volumes:
      - redis_data:/data
    networks:
      - yeu-pet-net
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  yeu-pet-net:
    driver: bridge

volumes:
  redis_data:
